.portfolio-page {
    padding-left: 100px;
    padding-right: 50px;
    width: calc(100% - 150px);
    position: initial;
    height: 100%;
    overflow: auto;

    h1.page-title {
        margin-left: 100px;
        margin-top: 100px;
        font-size: 53px;
        font-family: 'Coolvetica';
        color: #ffd700;
        font-weight: 400;
        position: relative;
        margin-bottom: 40px;
        left: 10px;

        &::before {
                content: '<h1>';
                font-family: 'La Belle Aurore';
                font-size: 18px;
                position: absolute;
                margin-top: -10px;
                left: -10px;
                opacity: 0.6;
                line-height: 18px;
            }

            &::after {
                content: '<h1/>';
                font-family: 'La Belle Aurore';
                font-size: 18px;
                position: absolute;
                margin-left: 20px;
                left: -30px;
                bottom: -20px;
                opacity: 0.6;
                line-height: 18px;
            }

    }

    .images-container {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }

    .image-box {
        position: relative;
        flex: 1 1 20%;
        height: 400px;
        overflow: hidden;
        border-radius: 10px;
        max-width: calc(25% - 10px);

        .portfolio-image {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content {
            position: absolute;
            width: 100%;
            z-index: 3;
            padding: 10px 20px;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.7) 0,
                rgba(0, 0, 0, 1)
            );
            bottom: -70px;
        }

        .title {
            margin-bottom: 0;
            margin-top: 0;
            color: #fff;
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
        }

        .description {
            font-size: 14px;
            margin-bottom: 5px;
            color: #fff;
            font-weight: 600;
            width: 95%;
        }

        .roles {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .roles-text {
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .role-pill {
            color: #022c43;
            background-color: #ffd700;
            padding: 8px 12px;
            border-radius: 20px;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            margin: 2px 4px;
            white-space: nowrap;
        }

        .btn {
            margin-top: 30px;
            margin-bottom: 10px;
            padding: 0 23px;
            height: 40px;
            line-height: 34px;
            border: 2px solid #ffd700;
            border-radius: 4px;
            font-size: 14px;
            color: #fff;
            background: transparent;
            text-transform: uppercase;
            font-weight: 700;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            cursor: pointer;
        }

        .btn:hover {
            transform: translateY(-3px);
            background: #ffd700;
            color: #022c43;
        }

        &:after {
            content: "";
            background: linear-gradient(180deg, #ffd700, #000);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            opacity: 0;
        }

        &:hover:after {
            opacity: 0.85;
        }

        &:hover .content {
            bottom: 0;
            background: transparent;
        }
    }
}

@media screen and (max-width: 1200px) {
    .portfolio-page {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);

        h1.page-title {
            margin-left: 20px;
            margin-top: 50px;
            font-size: 40px;
        }

        .images-container {
            display: flex;
            // flex-direction: column;
            gap: 20px;
            padding-bottom: 60px;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0 auto
        }

        .image-box {
            flex: 1 1 100%;
            height: auto;
            min-height: 350px;
            min-width: 300px;
            max-width: 500px;
            width: 100%;
            overflow: scroll;
            margin: 0 auto;

            .portfolio-image {
                position: relative;
                height: 250px;
            }
            
            .content {
                bottom: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.95));
                height: auto;
                padding: 20px;

                .title {
                    font-size: 20px;
                }
                
                .description {
                    font-size: 13px;
                    margin-top: 10px;
                    line-height: 1.5;
                }

                .btn {
                    margin-top: 20px;
                    display: inline-block;
                }
            }

            &:hover .content {
                bottom: 0;
            }
        }
    }
}
